/* Removing margins so content spreads to corners */
body {
  margin: 0px;
}

/* For my grids I decided to use a nested grid system.
.content is the outermost grid*/
.content {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  padding: 0px;
}

/* Container for the navigation bar, has 7 comlumns for content */
.nav {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  padding: 10px;
  align-items: center;
}

/* Shopping bag icon in navigation */
#bag {
  margin-top: -20px;
}

/* Sidebar grid with 8 rows */
.sidebar {
  height: 200px;
  padding-top: 20px;
  display: grid;
  grid-template-rows: auto auto auto auto auto auto auto auto;
  align-items: center;
  text-align: left;
}

/* Products grid with 4 rows and 3 columns */
.products {
  width: 900px;
  height: 700px;
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: auto auto auto;
  padding: 5px;
  align-items: center
}

/* Generic grid item basline */
.grid-item {
  border: none;
  padding: 20px;
  font-size: 15px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-align: center;
  margin: 0px;
  color: black;
}

/* Specific to navigation section */
.grid-item-nav {
  border: none;
  padding: 20px;
  font-size: 15px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-align: center;
  margin: 0px;
  color: black;
  margin-top: -20px;
}

/* Specific to products */
.grid-item-products {
  border: none;
  font-size: 48px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-align: left;
  color: black;
}

/* All of these are putting product images in product grid */
#img1 {
  background-image: url("catbackpack.png");
  width: 292px;
  height: 413px;
  margin: 10px;
}

#img2 {
  background-image: url("catharness.png");
  width: 292px;
  height: 413px;
  margin: 10px;
}

#img3 {
  background-image: url("dogharness.png");
  width: 292px;
  height: 413px;
  margin: 10px;
}

#img4 {
  background-image: url("Group_23.png");
  width: 292px;
  height: 413px;
  margin: 10px;
}

#img5 {
  background-image: url("foodstorage.png");
  width: 292px;
  height: 413px;
  margin: 10px;
}

#img6 {
  background-image: url("gps.png");
  width: 292px;
  height: 413px;
  margin: 10px;
}

/* Specific to sidebar */
.grid-item-sidebar {
  border: none;
  padding: 0px;
  padding-left: 75px;
  font-size: 15px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-align: center;
  margin: 0px;
  color: black;
  text-align: left;
}

/* MUDDY PAWS logo in navigation*/
.logo {
  margin-top: -15px;
}

/* Adjusting the style of all links to remove undlerline */
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

/* Footer */
.footer {
  background-color: black;
  margin-top: 275px;
  margin-left: 0px;
  padding: 0px;
}

/* Specific to logo in footer */
#footerlogo {
  margin-top: 10px;
  margin-left:-60px;
}
